/* aplicação de estilo global para qualquer componente */

//*@import "./styles/global-overrides";

body{
    margin: 0;
    background-color: rgb(48, 47, 47);
}

.global{
    margin-top: 5px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    background-color: cornflowerblue;
}

.emulated{
    
}